Telegram Integration with AI Agent.json
{
  "name": "Telegram Integration with AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1f024b0c-8e45-4b7a-867d-8ac59d90c8b3",
      "name": "Telegram Trigger",
      "webhookId": "a3641f37-d796-42c2-b6ff-5ae9cfcdc511",
      "credentials": {
        "telegramApi": {
          "id": "Ui9ZO3O8xY9AB0p8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "c547a5ce-60c5-4e7c-8803-42575a38eebd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "27832f7f-458c-4a02-9fe8-8e3dff3d1e5d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XMFtxPmWJTsQzIam",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "62b570e9-9b37-4770-bd42-5422b4313d5a",
      "name": "Send a text message",
      "webhookId": "68848950-4bb3-4a39-bcc3-751acc58b2e7",
      "credentials": {
        "telegramApi": {
          "id": "Ui9ZO3O8xY9AB0p8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "27b81797-64c6-4f86-befc-b39dccba2061",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e65981d6b69d01272dda4bcd11b90796e4bf108e1ef7a197e3eac80ad7562365"
  },
  "id": "TGfTs1CVet2sZ9Cj",
  "tags": []
}